APP_NAME=Auth Module
API_V1_PREFIX=/api
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/authdb

JWT_SECRET_KEY=change-this-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=2
REFRESH_TOKEN_EXPIRE_MINUTES=1440
REFRESH_GRACE_MINUTES=10

COOKIE_SECURE=false
COOKIE_DOMAIN=
COOKIE_SAMESITE=lax

AES_SECRET_KEY=change-this-32-char-key-please!!!
ADMIN_CREATION_KEY=create-admin-2026
FRONTEND_ORIGIN=http://localhost:5173

